.wrapper{
    overflow: hidden;
}
.slide-container{
    width: 300vw;
    /* transition: transform .5s ease-in-out; */
    /* transform: translateX(-200vw); */
}
.transforming{
    transition: transform .5s ease-in-out;
}
.slide-box{
    width: 100vw;
    float: left;
}
.slide-box img{
    width: 100%;
}
/* .btn{
    border:0;
    outline: 0;
    padding: 10px 16px;
    font-size: 20px;
    border-radius: 5px;
    margin: 10px 10px;
    transition: .2s ease-in-out;
}
.btn:hover{
    background-color: deeppink;
    color: #fff;
} */
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 50px;
    color: #000;
}
.back,
.next{
    margin: 5px 20px;
    transition: .2s ease-in-out;
}
.back:hover,
.next:hover{
    color: deeppink;
}