@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bree Serif', serif;
}
a, a:visited{
    color: #fff;
    text-decoration: none;
}
.menu-btn{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}
.menu-btn svg{
    width: 30px;
    height: 30px;
    margin: 10px;
}
.menu-wrapper{
    width: 200px;
    height: 100%;
    background-color: cornflowerblue;
    position: fixed;
    top:0;
    left: -200px;
    z-index: 2;
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal{
    width: 300px;
    height: 300px;
    /* margin-top: -400px; */
    transform: translateY(-400px);
    margin-left: auto;
    margin-right: auto;
    transition: .5s; /*모든 css 속성이 변경될 때 0.5초에 걸쳐 서서히 변경됨*/
}
.modal_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: ghostwhite;
    border-radius: 20px;/*.modal에 하니까 안되더라 이마리야*/
}
.modal_content p{
    padding: 20px;
}
/* .slide-down{ 
    transform: translateY(0px);
} */
/* 클래스를 추가해서 애니메이션을 모달이 아닌 클래스명에 주는 것 추천!*/
/* 1. transition은 자바스크립트와 독립적으로 동작합니다. 

jQuery로 애니메이션을 주게 되면 매우 느리고 천천히 동작합니다.

여러분 컴퓨터가 좋아서 빠르게 동작하는 것 같아 보이는 것이지 애니메이션이 조금만 복잡하거나 많으면 금방 버벅입니다.

특히 브라우저에서 자바스크립트로 힘든 일을 시키고 있는데 여기다가 또 애니메이션까지 돌리라고 명령을 주면

100% 확률로 프레임 저하가 일어납니다.

특히 여러분이 자바스크립트로 많은 일을 해야하는 SPA 같은 사이트를 만든다면 애니메이션 자바스크립트로 넣으면 안됩니다.

그러니 자바스크립트가 할 일이 많아도 빠르게 동작하는 transition을 씁시다.

(혹은 애니메이션 전용 라이브러리 velocity.js 등을 따로 설치해서 쓰시면 실행 속도 걱정은 해결됩니다.)

 

 

2. transition 쓰는게 훨씬 더 쉽습니다. 

한줄만 추가하면 애니메이션이 완성되는데 animate() 어쩌구보다는 훨씬 쉽죠?

그리고 커스터마이징도 쉽습니다.

애니메이션 동작 속도같은걸 선형이아니라 커브를 주고 싶으면 관련된 CSS 속성만 찾아넣으면 됩니다. */