@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bree Serif', serif;
}
.alert{
    height: 100px;
    width: 300px;
    background-color: skyblue;
    display: none;
    text-align: center;
    color: #fff;
}
.text{
    font-size: 25px;
    padding: 10px;
}